# Core Service
PORT=3001
NODE_ENV=development

# PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@postgres:5433/accommodation_db?schema=public

# Firebase
FIREBASE_PROJECT_ID=evlewt-f3bd1

# External Services
AI_SERVICE_URL=http://ai-service:8000
RECOMMENDATION_SERVICE_URL=http://recommendation-service:8001
